### Problem 2

Generate random license tags with the format `123-ABC`

1. Generate a random 3 digit integer (1 pt)
2. Generate a string of 3 random characters (1 pt)
3. Create a `pandas.Dataframe` that contains 25 licence tag numbers of the above format (1 pt)

Total of 3 points

In [1]:
import numpy as np
import string
import pandas as pd
import random

In [2]:
def randomString(stringLength):
    letters = string.ascii_uppercase
    return ''.join(random.choice(letters) for i in range(stringLength))

In [3]:
N = 25;

#### Generate a random 3 digit integer / a string of 3 randome characters

In [4]:
LParray = []
for i in range(N):
    randInt = np.random.randint(100,999)
    randSTR = randomString(3)
    lP = str(randInt)+'-'+randSTR;
    LParray.append(lP)

#### Create a `pandas.Dataframe` that contains 25 licence tag numbers of the above format

In [5]:
df = pd.DataFrame(LParray,columns=['Licence Tag'])
df

   Licence Tag
0      853-JER
1      555-MRB
2      806-AAB
3      771-PWE
4      879-OSB
5      815-LZZ
6      483-IKN
7      379-CVB
8      166-XQJ
9      120-MUO
10     829-IKC
11     469-WXP
12     208-YZS
13     521-YEQ
14     647-VKT
15     112-IRN
16     289-WNW
17     874-RWU
18     935-HYU
19     623-YBB
20     898-RJU
21     426-YMG
22     128-KCX
23     494-YXV
24     457-ECU